@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100&display=swap');
.result-txt{
    font-family: 'Chathura', sans-serif;
    font-size:8em;
    text-align: end;
    margin-bottom:-35px;
    margin-right:22px;
}